.landscape                                                                           .bash_history                                                                        .bash_logout                                                                         .bashrc                                                                              .gitconfig                                                                           .motd_shown                                                                          .profile                                                                             .python_history                                                                      .sudo_as_admin_successful
